.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

h1 {
  margin: 20px;
}

.about-text img {
  border-radius: 20px;
  width: 55%;
}

.link {
  color: var(--brand-color);
}

p a {
  color: var(--brand-color);
}

.dula {
  padding-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}

.dula-services {
  border: 1px solid var(--brand-color);
  box-shadow: 0 0 2px 3px var(--brand-color);
  border-radius: 20px;
  width: 50%;
  margin: 0 auto;
  padding: 30px 70px 30px 70px;
  margin-bottom: 50px;
}

.box {
  display: flex;
}

.text {
  flex-direction: column;
}
