.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: left;
  /* margin: 120px 300px 80px 300px; */
}

.box img {
  border-radius: 20px;
  width: 33%;
  margin: 20px;
}

p a {
  color: var(--brand-color);

}

.dula {
  padding-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}

.dula-services {
  border: 1px solid var(--brand-color);
  box-shadow: 0 0 2px 3px var(--brand-color);
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 30px 70px 30px 70px;
  margin-bottom: 50px;
}

.dula-services li {
  padding: 5px;
}

img {
  float: left;
}

.dula {
  width: 90%;
}

.dula li {
  padding: 5px;
}
