.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  max-width: 600px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

.modal h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--dark-color);
  text-align: center;
}

.modal h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--dark-color);
  text-align: center;
}

.modal img {
  max-width: 100%;
  border-radius: 5px;
  margin: 1rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal p {
  margin: 0.5rem 0;
  color: var(--brand-color);
  line-height: 1.6;
}

.modal button {
  background-color: var(--brand-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  display: block;
  margin: 1rem auto;
}

.modal button:hover {
  background-color: var(--dark-color);
}

.modal div[dangerouslySetInnerHTML] {
  margin-top: 1rem;
  color: var(--background-color);
  line-height: 1.6;
  text-align: justify;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--brand-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal-close:hover {
  background-color: var(--dark-color);
  color: #fff;
}

.modal div[dangerouslySetInnerHTML] ul {
  list-style-type: none;
  padding-left: 0;
}

.modal div[dangerouslySetInnerHTML] li {
  margin-left: 0;
}

.modal::-webkit-scrollbar {
  width: 10px;
}

.modal::-webkit-scrollbar-track {
  background: var(--background-color);
  border-radius: 5px;
}

.modal::-webkit-scrollbar-thumb {
  background: var(--brand-color);
  border-radius: 5px;
  border: 2px solid var(--background-color);
}

.modal::-webkit-scrollbar-thumb:hover {
  background: var(--dark-color);
}

@media (max-width: 768px) {
  .modal {
    padding: 15px 20px;
  }

  .modal h2 {
    font-size: 1.5rem;
  }

  .modal h3 {
    font-size: 1.2rem;
  }
}
