.map-container {
  display: flex;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;


}

#czMap path {
  transition: fill-opacity 300ms ease-in-out;
  cursor: url("../../../../public/img/pin.png"), default;
}

#czMap path:hover {
  fill-opacity: 80%;
}
