.container {
  display: flex;
  align-items: center;
  justify-content: center;

}

#czMap path {
  transition: fill-opacity 300ms ease-in-out;
  cursor: url("../../../../public/img/heart-pin.png") 19 19, default;
}

#czMap path:hover {
  fill-opacity: 80%;
}

@media screen and (max-width: 1200px) {
  .container.map {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}
