footer {
  /* background-color: rgba(140, 105, 140, 0.35); */
  background-color: var(--brand-color);
  text-align: center;
  padding-top: 20px;
  transition: transform 350ms ease-in-out;
}

/* footer a {
  color: var(--dark-color);
} */

footer i:hover {
  transform: scale(1.5);
}

.socials {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

}

.socials i {
  color: var(--background-color);
}

.copyright {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  padding-bottom: 20px;
}

.copyright i {
  color: var(--background-color);
  margin-right: 6px;
}
