.footer-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-color);

}

footer {
  background-color: rgba(185, 165, 204, 0.4);
  text-align: center;
  padding-top: 20px;
}

footer a {
  color: var(--dark-color);
}
