.footer-container {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  margin-top: 20px;
  /* background-color: var(--background-color); */
  text-align: center;
}

footer a {
  color: var(--brand-color)
}
