@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url(./variables.css);

* {
  font-family: "Reddit Mono", monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: rgba(179, 150, 180, 1);
  /* background: rgb(224, 213, 224); */
  background: linear-gradient(11deg, rgb(247, 235, 247) 0%, rgb(245, 245, 245) 100%);
}

.app-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}

.container {
  margin-top: 120px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 80px;
}
