.container {
  /* margin: 150px 30px 30px 30px; */
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.container p {
  padding-bottom: 20px;
  padding-top: 20px;
}

.container li {
  list-style: none;
}

.container img {
  border-radius: 20px;

}

.container .image {
  margin-top: 20px;
}

.event-dates {
  border: 1px solid var(--brand-color);
  box-shadow: 0 0 2px 3px var(--brand-color);
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
