.container.events {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.container.events p {
  padding-bottom: 20px;
  padding-top: 20px;
}

.container.events li {
  list-style: none;
}

.container.events img {
  border-radius: 20px;

}

.container.events .image {
  margin-top: 20px;
}

.container.events i {
  color: var(--dark-color);
}

.event-dates {
  border: 1px solid var(--brand-color);
  box-shadow: 0 0 2px 3px var(--brand-color);
  border-radius: 20px;
  padding: 20px;
  min-width: 80%;
  margin: 0 auto;
  text-align: center;

}

.event-date link a {
  text-decoration: none;
  color: var(--dark-color);
}

@media screen and (max-width: 1200px) {
  .container.events {
    padding-left: 0;
    padding-right: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .container.events p {
    font-size: 14px;
  }

  .container.events .event-dates {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    min-width: 70%;
    font-size: 14px;
  }

  .container.events img {
    width: 75%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1405px) {
  .container.events .event-dates {
    margin-left: 20px;
    margin-right: 20px;
    min-width: 60%;
    padding: 20px;
  }
}
