body {
  color: rgba(179, 150, 180, 1);
  /* background: rgb(224, 213, 224); */
  background: linear-gradient(11deg, rgb(247, 235, 247) 0%, rgb(245, 245, 245) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  margin-top: 150px;

}

.card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  /* padding: 10px; */
  border: 1px solid var(--brand-color);
  box-shadow: 0 0 2px 5px var(--brand-color);
  border-radius: 20px;
  overflow: hidden;
}

.card img {
  margin: 0 auto;
  border-top-right-radius: 10px;
  width: 100%;
  aspect-ratio: 1.6;
  object-fit: cover;
  object-position: 50% 35%;
  box-shadow: 0 5px 20px var(--brand-color);
}

.card-vycvik {
  object-position: 30% 30%;
}

.card .card-text {
  text-align: left;
  padding: 30px;
}

.card-link {
  margin: 10px;
  text-align: center;
}

.text-container {
  border: 1px solid var(--brand-color);
  max-width: 80%;
  border-radius: 20px;
  padding: 20px;
  margin-top: 70px;
  box-shadow: 0 1px 2px 5px var(--brand-color);

}

.scale-element {
  transition: transform 350ms ease-in-out;

}

.scale-element:hover,
.scale-element:focus {
  transform: scale(1.04);
}

.text {
  padding: 20px;
}

.text-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.text-container p {
  text-align: left;
  line-height: 1.5em;

}

.card-button {
  background-color: var(--brand-color);

}

@media screen and (min-width: 768px) {
  .card-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
  }

  .card {
    flex-basis: 33%;
  }
}
