body {
  color: rgba(179, 150, 180, 1);
  /* background: rgb(224, 213, 224); */
  background: linear-gradient(11deg, rgb(247, 235, 247) 0%, rgb(245, 245, 245) 100%);
}

.app-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  margin-top: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  /* padding: 10px; */
  border: 1px solid var(--brand-color);
  box-shadow: 0 0 2px 5px var(--brand-color);
  border-radius: 20px;
  overflow: hidden;
}

.card img {
  margin: 0 auto;
  border-top-right-radius: 10px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 5px 20px var(--brand-color);
}

.card .card-text {
  text-align: left;
  padding: 30px;
}

.card-link {
  margin: 10px;
  text-align: center;
}

.text-container {
  border: 1px solid var(--brand-color);
  max-width: 80%;
  border-radius: 20px;
  padding: 20px;
  margin-top: 70px;
  box-shadow: 0 1px 2px 5px var(--brand-color);
  margin-bottom: 50px;
}

.scale-element {
  transition: transform 350ms ease-in-out;

}

.scale-element:hover,
.scale-element:focus {
  transform: scale(1.02);
}

.text {
  padding: 20px;
}

.text-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.text-container p {
  text-align: left;
  line-height: 1.5em;

}

.card-button {
  background-color: var(--brand-color);
  width: 40%;
  height: 40%;
  box-shadow: 0 0 2px var(--dark-color);
  transition: background-color 300ms ease-in-out;
  border-radius: 15px;
  padding: 5px;
  border: none;
}

.card {
  align-items: center;
  padding-bottom: 30px;
}


.card-button:hover,
.card-button:focus {
  background-color: var(--dark-color);

}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .card .card-text,
  .text-container {
    font-size: 14px;
  }

  .text-container {
    width: 100vh;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .text-container h1 {
    padding-top: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .card {
    margin-bottom: 35px;
  }

  .card-button {
    width: 50%;
  }

  .card-button a {
    font-size: 14px;
    font-weight: 600;
  }

}

@media screen and (min-width: 1000px) {
  .card-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
  }

  .card {
    flex-basis: 33%;
  }

}
