.container.dula {
  margin-top: 0;
  margin-left: 300px;
  margin-right: 300px;

}

.container.dula li {
  margin-bottom: 5px;
  text-align: center;
  list-style-type: none;

}

.box {
  border: 1px solid var(--brand-color);
  box-shadow: 0 0 2px 3px var(--brand-color);
  border-radius: 20px;
  margin-bottom: 300px;
}

@media screen and (min-width: 320px) and (max-width: 621px) {
  .container.dula {
    margin-left: 20px;
    margin-right: 20px;
    width: 50vh;
  }

}
