.container {
  margin-top: 0;
  margin-left: 300px;
  margin-right: 300px;

}

.container li {
  margin-bottom: 5px;
  text-align: center;
  list-style-type: none;

}

.box {
  border: 1px solid var(--brand-color);
  box-shadow: 0 0 2px 3px var(--brand-color);
  border-radius: 20px;
  margin-bottom: 300px;
}
