.reference {
  font-style: oblique;
  padding: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
}

h1,
h2,
h4 {
  margin-right: 50px;
  /* padding-bottom: 20px; */
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.education-card {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--brand-color);
  box-shadow: 0 0 2px 3px var(--brand-color);
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
}

.education-card p {
  text-align: center;
}

.education-card ul {
  list-style-type: none;
}

.education-card li {
  padding: 5px;
}

button {
  background-color: var(--brand-color);
  box-shadow: 0 0 2px var(--dark-color);
  color: white;
  transition: background-color 300ms ease-in-out;
  border-radius: 15px;
  padding: 12px;
  border: none;
}

button:hover {
  background-color: var(--dark-color);
}

button a {
  font-style: bold;
  font-size: medium;
}
